.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77; 
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}


.buttonred {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bf0036), color-stop(1, #a60000));
	background:-moz-linear-gradient(top, #bf0036 5%, #a60000 100%);
	background:-webkit-linear-gradient(top, #bf0036 5%, #a60000 100%);
	background:-o-linear-gradient(top, #bf0036 5%, #a60000 100%);
	background:-ms-linear-gradient(top, #bf0036 5%, #a60000 100%);
	background:linear-gradient(to bottom, #bf0036 5%, #a60000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf0036', endColorstr='#a60000',GradientType=0);
	background-color:#bf0036;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.buttonred:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a60000), color-stop(1, #bf0036));
	background:-moz-linear-gradient(top, #a60000 5%, #bf0036 100%);
	background:-webkit-linear-gradient(top, #a60000 5%, #bf0036 100%);
	background:-o-linear-gradient(top, #a60000 5%, #bf0036 100%);
	background:-ms-linear-gradient(top, #a60000 5%, #bf0036 100%);
	background:linear-gradient(to bottom, #a60000 5%, #bf0036 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a60000', endColorstr='#bf0036',GradientType=0);
	background-color:#a60000;
}
.buttonred:active {
	position:relative;
	top:1px;
}

.buttongreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2fbd00), color-stop(1, #00a642));
	background:-moz-linear-gradient(top, #2fbd00 5%, #00a642 100%);
	background:-webkit-linear-gradient(top, #2fbd00 5%, #00a642 100%);
	background:-o-linear-gradient(top, #2fbd00 5%, #00a642 100%);
	background:-ms-linear-gradient(top, #2fbd00 5%, #00a642 100%);
	background:linear-gradient(to bottom, #2fbd00 5%, #00a642 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fbd00', endColorstr='#00a642',GradientType=0);
	background-color:#2fbd00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:14px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.buttongreen:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00a642), color-stop(1, #2fbd00));
	background:-moz-linear-gradient(top, #00a642 5%, #2fbd00 100%);
	background:-webkit-linear-gradient(top, #00a642 5%, #2fbd00 100%);
	background:-o-linear-gradient(top, #00a642 5%, #2fbd00 100%);
	background:-ms-linear-gradient(top, #00a642 5%, #2fbd00 100%);
	background:linear-gradient(to bottom, #00a642 5%, #2fbd00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a642', endColorstr='#2fbd00',GradientType=0);
	background-color:#00a642;
}
.buttongreen:active {
	position:relative;
	top:1px;
}



#streamstyle {
    color: black;
    padding: 0px 0px;
    width: 140px;
    cursor: pointer}

.feature_home{
    width:300px;
    height:200px;
    position:relative;
    display:block;
    background-position:center center;
    background-size:100%;
}
.feature_text{
    position:absolute;
    right:2px;
    bottom:15px;
}
.feature_button{
    right:2px;
    bottom:2px;
    position:absolute;
}
